<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
	<div th:fragment="header">
		<div class="bs-example">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">GCU</a>
				</div>
				<div id="navbarCollapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="https://www.gcu.edu">Home</a></li>
						<li><a href="https://lopeshops.gcu.edu">Shop</a></li>
						<li><a href="https://news.gcu.edu">News and Events</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Start Page</a></li>
					</ul>
				</div>
			</nav>
		</div>
		
		<!-- Page Title and Log -->
		<h2 class="title" th:text="${title}">Default Title Message</h2>
		<!-- <img th:src="@{/images/gcu-logo.png}" style="width:100px;"/><br/><br/> -->
	</div>
	
	<!-- Common Footer fragment -->
	<div th:fragment="footer">
		<h5 style="color: purple; text-align: conter; position: fixed; bottom: 0; width: 100%;">Group A1</h5>
	</div>
</html>