<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/defaultLayout}">
	<head>
		<meta charset="UTF-8">
		<title>ParkGCU - Customers</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div align="center" style="width:fit-content; display:flex;" class="flex-container">
				<div class="flex-child">
					<table style="width:100%;" class="table-deco-purple linked-table">
						<thead> <!-- Define the head of the table-->
							<tr>
								<th style="text-align:center">First Name</th>
								<th style="text-align:center">Last Name</th>
								<th style="text-align:center">ID</th>
								<th style="text-align:center">Phone</th>
								<th style="text-align:center">Email</th>
							</tr>
						</thead>
						<tbody> <!-- Body of the table -->
							<tr th:if="${registeredCustomers.empty}">
								<td style="text-align:center;" colspan="3">No registered customer</td>
							</tr>
							<tr th:each="customer : ${registeredCustomers}">
								<td style="text-align: center;"><a th:href="@{./ci(customerId=${customer.customerId})}"><span th:text="${customer.firstName}">Caleb</span></a></td>
								<td style="text-align: center;"><a th:href="@{./ci(customerId=${customer.customerId})}"><span th:text="${customer.lastName}">Overmyer</span></a></td>
								<td style="text-align: center;"><a th:href="@{./ci(customerId=${customer.customerId})}"><span th:text="${customer.customerId}">123456</span></a></td>
								<td style="text-align: center;"><a th:href="@{./ci(customerId=${customer.customerId})}"><span th:text="${customer.phoneNumber}">Phone</span></a></td>
								<td style="text-align: center;"><a th:href="@{./ci(customerId=${customer.customerId})}"><span th:text="${customer.email}">Email</span></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>