<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/defaultLayout}">
	<head>
		<meta charset="UTF-8">
		<title>ParkGCU - Vehicles</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div align="center" style="width:fit-content; display:flex;" class="flex-container">
				<div class="flex-child">
					<table style="width:100%;" class="table-deco-purple linked-table">
						<thead> <!-- Define the head of the table-->
							<tr>
								<th style="text-align:center">Color</th>
								<th style="text-align:center">Year</th>
								<th style="text-align:center">Make</th>
								<th style="text-align:center">Model</th>
								<th style="text-align:center">State</th>
								<th style="text-align:center">Plate</th>
							</tr>
						</thead>
						<tbody> <!-- Body of the table -->
							<tr th:if="${registeredVehicles.empty}">
								<td style="text-align:center;" colspan="6">No registered vehicles</td>
							</tr>
							<tr th:each="vehicle : ${registeredVehicles}">
								<td style="text-align: center;"><a th:href="@{/customers/ci(customerId=${vehicle.customerId})}"><span th:text="${vehicle.color}">Blue</span></a></td>
								<td style="text-align: center;"><a th:href="@{/customers/ci(customerId=${vehicle.customerId})}"><span th:text="${vehicle.year}">2015</span></a></td>
								<td style="text-align: center;"><a th:href="@{/customers/ci(customerId=${vehicle.customerId})}"><span th:text="${vehicle.make}">Jeep</span></a></td>
								<td style="text-align: center;"><a th:href="@{/customers/ci(customerId=${vehicle.customerId})}"><span th:text="${vehicle.model}">Patriot</span></a></td>
								<td style="text-align: center;"><a th:href="@{/customers/ci(customerId=${vehicle.customerId})}"><span th:text="${vehicle.plateState}">AZ</span></a></td>
								<td style="text-align: center;"><a th:href="@{/customers/ci(customerId=${vehicle.customerId})}"><span th:text="${vehicle.plateNumber}">8VA15M</span></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>